body {

  margin: 0;

  font-family: Arial, sans-serif;

  background: linear-gradient(#fff0f7, #ffe6f2);

  color: #4a004a;

  line-height: 1.6;

}

 

html {

  font-size: 100%;

}

 

header,

footer {

  background: #4a004a;

  color: white;

  padding: 1rem;

  text-align: center;

}

 

nav {

  background: #ffb3d9;

  padding: 1rem;

  border-bottom: 3px solid #cc0066;

  display: flex;

  justify-content: center;

  gap: 1rem;

}

 

nav a {

  background: white;

  padding: 0.4rem 0.75rem;

  border: 2px solid #cc0066;

  border-radius: 6px;

  text-decoration: none;

  color: #4a004a;

  font-weight: 700;

}

 

nav a:hover {

  background: #ffe6f2;

}

 

main {

  width: 90%;

  max-width: 1000px;

  margin: 2rem auto;

  padding: 1rem;

 

  /* FLEXBOX */

  display: flex;

  flex-flow: row wrap;

  gap: 1.5rem;

  justify-content: center;

}

 

section {

  flex: 1 1 45%;

  background: white;

  border: 3px solid #ff66b2;

  border-radius: 10px;

  padding: 1rem;

}

 

p {

  margin-top: 1rem;

}

 

h1 {

  font-size: 2rem;

  font-weight: 700;

  text-transform: uppercase;

}

 

h2 {

  font-size: 1.4rem;

  font-weight: 700;

  color: #cc0066;

}

 

h3 {

  font-size: 1.1rem;

  font-weight: 600;

}

 

img {

  max-width: 100%;

  height: auto;

  border: 3px solid #ff66b2;

  border-radius: 8px;

  margin-top: 1rem;

}

 

footer p {

  margin: 0;
}