body {
    background-color: #f4f6f8;
    color : #222;
    font-size: 1 rem;
}

h1 {
    color: #0033a0;

}
h2 {
    color: #555;

}
nav ul {
    background-color: #e6ecff;

}
nav a {
    color: #0033a0;

}
.hightlight {
    color:#b00020;
    
}
box-parent { 
    width:80%;
    margin:2 rem auto;
    padding:1.5 rem;
    border: 3px solid #b00020;
    background-color: #ffe6f2;

}
box-child{
    width:100%;
    padding:1 rem;
    border: 3px solid #cc0066;
    background-color:#ffe6f2;
    box-sizing: border-box;
}
